@font-face {
    font-family: 'FORCED SQUARE';
    src: url('../webfonts/FORCEDSQUARE.woff2') format('woff2'),
    url('../webfonts/FORCEDSQUARE.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

