@import url("https://fonts.googleapis.com/css?family=Acme|Nova+Mono|Concert+One");

body {
    background: grey;
    margin: 0;
}

div {
    padding: 0px;
    /*-webkit-font-smoothing: none;*/
    font-size: 18px;
    font-family: 'Concert One';
}

i.fas {
    /*-webkit-font-smoothing: none;*/
}

.container {
    width: 128px;
    height: 296px;
    margin: 0;
    background: white;
}

.container * {
    box-sizing: border-box;
}

div.icon {
    font-size: 50px;
    width: 70px;
    height: 60px;
    text-align: center;
}

div.wind-deg i{
    font-size: 12px;
}

div.icon-temp {
    display: flex;
    justify-content: space-between;
}

div.fa-hand-paper {

}

div.wind {
    display: flex;
}

div.temp {
    line-height: 32px;
}

spam.bigger {
    font-size: 200%;
}

spam.bigger.decorator {
    position: relative;
    left: -21px;
    width: 0px;
    display: inline-block;
}

spam.big {
    font-size: 100%;
}

spam.small {
    font-size: 40%;
}

